# config/WPS-custom.eb.j2
name = 'WPS'
version = '{{ wps_version }}'

homepage = 'https://ucar.edu'
description = "Skeleton for custom manual compilation over EESSI toolchain."

toolchain = {'name': 'foss', 'version': '2024a'}
toolchainopts = {'opt': True}

source_urls = ['{{ wps_git_repo }}/archive/refs/tags/']
sources = ['%s.tar.gz' % version]
checksums = ['{{ wps_git_sha256 }}']

# Descompresión plana estándar
buildinsubdir = False
unpack_options = '--strip-components=1'

builddependencies = [('Perl', '5.38.2')]
dependencies = [
    ('WRF', '4.6.1', '-dmpar'),
    ('JasPer', '4.2.4'),
    ('netCDF', '4.9.2'),
    ('netCDF-Fortran', '4.6.1'),
    ('zlib', '1.3.1'),
    ('libpng', '1.6.43'),
]

# Dejamos las fases vacías para que EasyBuild no intente automatizar nada
configopts = 'true'
buildopts = 'true'

sanity_check_paths = {
    'files': [],
    'dirs': []
}
moduleclass = 'geo'
